.imagen-taxi
  display: inline-block
  width: 7%
  height: auto
  vertical-align: middle
  padding-top: 3%

.texto-taxi
  display: inline-block
  width: 92%
  height: auto
  vertical-align: top

.taxi-interno-1
  text-align: center
  display: inline-block
  position: relative
  top: 0px
  width: 24%

.taxi-interno-2
  text-align: center
  display: inline-block
  position: relative
  top: 0px
  width: 24%

.taxi-interno-3
  text-align: center
  display: inline-block
  position: relative
  top: 0px
  width: 24%

.taxi-interno-4
  text-align: center
  display: inline-block
  position: relative
  top: 0px
  width: 24%