.imagen-taxi
  display: inline-block
  width: 7%
  height: auto
  vertical-align: top

.texto-taxi
  display: inline-block
  width: 92%
  height: auto
  vertical-align: top

.taxi-interno-1
  display: inline-block
  position: relative
  top: 0px
  width: 24%

.taxi-interno-2
  display: inline-block
  position: relative
  top: 0px
  width: 24%

.taxi-interno-3
  display: inline-block
  position: relative
  top: 0px
  width: 24%

.taxi-interno-4
  display: inline-block
  position: relative
  top: 0px
  width: 24%