.imagen-taxi
  display: inline-block
  width: 7%
  height: auto
  vertical-align: top

.texto-taxi
  display: inline-block
  width: 92%
  height: auto
  vertical-align: top

.taxi-interno-1
  display: inline-block
  position: relative
  top: 0px
  width: 24%

.taxi-interno-2
  display: inline-block
  position: relative
  top: 0px
  width: 24%

.taxi-interno-3
  display: inline-block
  position: relative
  top: 0px
  width: 24%

.taxi-interno-4
  display: inline-block
  position: relative
  top: 0px
  width: 24%


// Upper line
.full-green-upper-line
  width: 100%
  height: 5px
  background-color: #45b39c
  -webkit-border-radius: 10px 10px  /* Safari  */
  -moz-border-radius: 5px 10px      /* Firefox */

.full-yellow-upper-line
  width: 100%
  height: 5px
  background-color: #f0c94a
  -webkit-border-radius: 10px 10px  /* Safari  */
  -moz-border-radius: 5px 10px      /* Firefox */

.full-red-upper-line
  width: 100%
  height: 5px
  background-color: #bd3e25
  -webkit-border-radius: 10px 10px  /* Safari  */
  -moz-border-radius: 5px 10px      /* Firefox */

.full-blue-upper-line
  width: 100%
  height: 5px
  background-color: #76a7fa
  -webkit-border-radius: 10px 10px  /* Safari  */
  -moz-border-radius: 5px 10px      /* Firefox */