$blue: #12406f
$grey: #a9a9a9

.android-phone-div
  height: auto

.grey-background
  background: #ededed

.grey
  background: #CCC
  height: 3px

.not-visible-line
  height: 3px

.red-line
  height: 5px
  background: #bd3e25
  -webkit-border-radius: 10px 10px   /* Safari  */
  -moz-border-radius: 10px 10px      /* Firefox */

.full-grey-line
  height: 1px
  background: $grey

.center-text
  text-align: center


.table-big
  width: 45%
  text-align: left

.table-small
  width: 10%
  text-align: left

.table-full
  width: 100%
  text-align: left

#sin-datos
  text-align: center
  color: #525252

.blue-background
  background: #d1d6ff
  -webkit-border-radius: 10px 10px   /* Safari  */
  -moz-border-radius: 10px 10px      /* Firefox */

.yellow-background
  background: #f5ffc5
  -webkit-border-radius: 10px 10px   /* Safari  */
  -moz-border-radius: 10px 10px      /* Firefox */

.grey-background
  background: #cbc7c7
  -webkit-border-radius: 10px 10px   /* Safari  */
  -moz-border-radius: 10px 10px      /* Firefox */
// *******************************************


.barra-navegacion
  width: 100%
  height: 40px
  //background-color: #c3c3c3

.boton-navegacion
  margin-top: 5px
  width: 200px
  height: 40px
  display: inline-block
  text-align: center
  background-color: #585858
  -webkit-border-radius: 5px 5px   /* Safari  */
  -moz-border-radius: 5px 5px      /* Firefox */

.inner-boton-navegacion
  display: table-cell
  text-align: center
  vertical-align: middle
  width: 100%
  height: 100%
  padding: 7px 5px 5px 10px
  color: #ffffff
  text-decoration: none
  font-size: 14px

.inner-boton-navegacion %a
  color: #ffffff

.menu-navegacion
  width: 100%
  height: 5px
  background-color: #8b8b8b

.menu-ampliado
  position: absolute
  top: 254px
  width: 100%
  height: 150px
  background-color: #585858
  z-index: 999

.enviar-datos
  background-color: #45b39c
  -webkit-border-radius: 25px 25px   /* Safari  */
  -moz-border-radius: 25px 25px      /* Firefox */
  color: #ffffff
  text-align: center
  padding: 10px 10px 10px 10px

.agregar-marcador
  background-color: #45b39c
  -webkit-border-radius: 25px 25px   /* Safari  */
  -moz-border-radius: 25px 25px      /* Firefox */
  color: #ffffff
  text-align: center
  padding: 10px 10px 10px 10px
  margin-bottom: 0
  font-size: 12px

.enviar-reserva
  background-color: #bd3e25
  -webkit-border-radius: 25px 25px   /* Safari  */
  -moz-border-radius: 25px 25px      /* Firefox */
  color: #ffffff
  text-align: center
  padding: 20px 20px 20px 20px

.texto-chico
  font-size: 10px
  padding-top: 5px

.android-header
  color: #bd3e25