.box-perfil
  color: #ffffff

.sidebar
  width: 100%
  background-color: #c6c6c6

.nombre-sidebar
  font-size: 20px
  width: 100%

.centered
  text-align: center


// Boxes
.box-ubicaciones
  background: #ffffff
  font-size: 13px

.box-crear
  background: #ffffff

.box-consultas
  background: #ffffff

.box-estadisticas
  background: #ffffff
  font-size: 13px


// Upper line
.full-green-upper-line
  width: 100%
  height: 5px
  background-color: #45b39c
  -webkit-border-radius: 10px 10px  /* Safari  */
  -moz-border-radius: 5px 10px      /* Firefox */

.full-yellow-upper-line
  width: 100%
  height: 5px
  background-color: #f0c94a
  -webkit-border-radius: 10px 10px  /* Safari  */
  -moz-border-radius: 5px 10px      /* Firefox */

.full-red-upper-line
  width: 100%
  height: 5px
  background-color: #bd3e25
  -webkit-border-radius: 10px 10px  /* Safari  */
  -moz-border-radius: 5px 10px      /* Firefox */

.full-blue-upper-line
  width: 100%
  height: 5px
  background-color: #76a7fa
  -webkit-border-radius: 10px 10px  /* Safari  */
  -moz-border-radius: 5px 10px      /* Firefox */

.full-blue-upper-line-super
  width: 100%
  height: 15px
  background-color: #76a7fa
  -webkit-border-radius: 10px 10px  /* Safari  */
  -moz-border-radius: 5px 10px      /* Firefox */

.texto-estadisticas
  margin-top: 15px
