#map {
  height: 700px
}

#footer {
  width: 100%;
  background-color: #bd3e25;
  padding: 100px 0 100px 0;
  .title {
    margin: 1em 0;
    border-bottom: 1px solid #ffffff;
    b { color: #ffffff; }
  }
  a {
    color: #ffffff;
    &:hover {
      color: #c6c6c6;
    }
  }
  .link {
    display: block;
    line-height: 2em;
  }
}