-# FOOTER
.px80-separator

.row
  .full-grey-line
  .full-grey-line
  .full-grey-line
  .full-grey-line
  .full-grey-line
  .full-grey-line

.px20-separator

.row
  .large-9.columns
    .links
      Sobre MePaseasteUY
      %br
      %a{href: '/about'}
        Acerca De
      %br

      Trabajo de Investigación Académica
      %br
      %a{href: 'http://themalvaproject.github.io'}
        The Malva Project
      %br
      %a{href: '/about/ga'}
        Computación Evolutiva
      %br
      %a{href: 'http://www.fing.edu.uy/inco/grupos/cecal/hpc/AG-Taxi/index.php'}
        Investigación Formal - Facultad de Ingeniería
      %br
      %a{href: 'http://www.fing.edu.uy/inco/grupos/cecal/hpc/AG-Taxi/EATaxi.tar.gz'}
        Informe y Archivos anexos a la Investigación

      %br
      Redes Sociales
      %br
      %a{href: 'http://twitter.com/MePaseasteUY'}
        Twitter
      %br
      %a{href: 'http://facebook.com/MePaseasteUY'}
        Facebook

      %br
      Contacto
      %br
      %a{href: 'mailto:gabriel.fa07@gmail.com'}
        Envíanos un correo

  .large-3.columns
    %a{href: root_path}
      = image_tag 'home/logobn.png', style: 'margin-top: 4em;'

.px20-separator
