= render partial: 'shared/top_bar'

.row
  .large-4.columns
    %a{href: root_path}
      = image_tag 'home/logo.png'

.px20-separator
.px10-separator


.full-green-upper-line
.px10-separator
  - if current_user.present?
    = render partial: 'shared/botones'