<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <section class="header-text top-bar-section">

      <!-- Left Nav Section -->
      <ul class="left">
            <li><%= link_to 'Home', root_path %></li>
        <% if current_user %>
            <li><%= link_to 'Perfil', '/profile' %></li>
        <% end %>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
            <li><%= link_to 'Acerca De', '/about' %></li>
        <% if current_user %>
            <li>
              <a data-method="delete" href="/users/sign_out" rel="nofollow">
                <img src="icon/signout.png" width="15px" height="15px" style="background-color: #333333">
              </a>
            </li>
        <% end %>

      </ul>
    </section>
  </nav>
</div>