.row
  .full-grey-line

.px50-separator

.row
  .small-4.columns
    = image_tag 'home/fst_frame.fw.png'
  .small-4.columns
    = image_tag 'home/second_frame.fw.png'
  .small-4.columns
    = image_tag 'home/third_frame.fw.png'