.barra_superior
  .row
    .small-12.columns.right-centered-text
      %a{href: '#'}
        .text-sup
          Instrucciones
      &nbsp &nbsp &nbsp
      %a{href: '#'}
        .text-sup
          Contacto
      &nbsp &nbsp &nbsp
      %a{href: '#'}
        .text-sup
          Acerca De
      &nbsp &nbsp &nbsp
      .img-sup
        = image_tag 'home/logo_grande.png', size: '30x30'


.row
  .small-12.columns.free-space

.row
  .large-5.columns
    = image_tag 'home/logo.png'

.px50-separator

.row
  .full-grey-line

.px50-separator