.row
  .small-12.columns
    #sin-datos
      %p
        Aun no has ingresado ningun origen, ni ningun destino.
        %br
        Prueba ingresando puntos en el mapa haciendo clicks en el punto que deseas
        agregar.
    #sin-datos-sep.px20-separator



-# Opciones
.row
  .small-6.columns
    %p
      Selecciona la tarifa
    .switch.round
      %input{id: 'a', name: 'switch_accurance', type: 'radio', checked: 'true'}
      %label{for: 'a', onclick: ''}
        Diurna
      %input{id: 'b', name: 'switch_accurance', type: 'radio'}
      %label{for: 'b', onclick: ''}
        Nocturna
      %span

  .small-6.columns
    %p
      Selecciona la precision
    .switch.round
      %input{id: 'c', name: 'switch_day', type: 'radio', checked: 'true'}
      %label{for: 'c', onclick: ''}
        Baja
      %input{id: 'd', name: 'switch_day', type: 'radio'}
      %label{for: 'd', onclick: ''}
        Alta
      %span



%table{width: '100%'}
  %thead
    %tr
      %th.table-small
        Tipo
      %th.table-big
        Ubicacion
      %th.table-big
        Nombre
