.panel.blue-background
  #sin-datos
    %p
      Aun no has ingresado ningun origen, ni ningun destino.
      %br
      Prueba ingresando puntos en el mapa haciendo clicks en el punto que deseas agregar.


= render template: 'home/opciones'


%table{width: '100%'}
  %thead
    %tr
      %th.table-small
        Tipo
      %th.table-big
        Ubicacion
      %th.table-big
        Nombre
