.px50-separator

-# Content

.row
  .small-12
    .panel.radius
      .row
        .large-8.large-offset-2.columns.center
          -# Red Line
          .row
            .small-4.columns.not-visible-line
            .small-4.columns.red-line
            .small-4.columns.not-visible-line

          -# Text Inside Blue Lines
          .row
            .small-12.columns
              .px10-separator
              %h1
                .center.android-header
                  Próximamente..
                  %br
                  MePaseaste.UY para teléfonos iOS
              .px10-separator

          -# Red Line
          .row
            .small-4.columns.not-visible-line
            .small-4.columns.red-line
            .small-4.columns.not-visible-line
      .px50-separator
      .row
        .large-4.large-offset-4.columns.center
          = image_tag 'home/iphone.png'
