.col-lg-12
  #markers
    -#.no-markers
      No has ingresado ningún marcador. Haz click en el mapa para ingresar el origen del viaje, y luego añade uno a uno
      los destinos. En este recuadro podrás configurar las opciones de cada uno de los puntos ingresados.


    #sin-datos
      Aún no has ingresado ningún marcador. Intenta haciendo click en el mapa.
    %h1#con-datos.hide
      Marcadores Ingresados
    .markers
      #markers-list