.col-lg-12
  #markers
    -#.no-markers
      No has ingresado ningún marcador. Haz click en el mapa para ingresar el origen del viaje, y luego añade uno a uno
      los destinos. En este recuadro podrás configurar las opciones de cada uno de los puntos ingresados.

    .markers
      .col-lg-4.col-lg-offset-4
        .marker
          .name Origen
          .map

      .clearfix

      .col-lg-4
        .marker
          .name Pasajero 1
          .map

      .col-lg-4
        .marker
          .name Pasajero 2
          .map

      .col-lg-4
        .marker
          .name Pasajero 3
          .map

      .col-lg-4
        .marker
          .name Pasajero 4
          .map

      .col-lg-4
        .marker
          .name Pasajero 5
          .map