<!--Modal de destinos ingresados hasta el momento-->
<div id="modalDestinosIngresados" class="reveal-modal" data-reveal>


  <%= render template: 'home/datos_ingresados.haml' %>

  <a class="close-reveal-modal">&#215;</a>
</div>


<!--Modal de destinos usuales-->
<div id="modalDestinosUsuales" class="reveal-modal" data-reveal>
  <p class="lead">Feature en desarrollo!</p>
  <p>Próximamente podrás agregar tus destinos más usados. Prueba pronto para ver los avances!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>


<!--Modal TBD-->
<div id="modalTBD" class="reveal-modal" data-reveal>
  <p class="lead">Feature en desarrollo!</p>
  <p>Prueba pronto para ver qué nueva función ubicaremos en este lugar!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>