#home{ 'ng-controller' => 'HomeController ' }
  #headerwrap
    .container
      .row.centered
        .col-lg-6.col-lg-offset-3
          %h1 Los viajes compartidos en taxis nunca fueron tan fáciles.
          %form.form-inline{ role: 'form' }
            .form-group
            %button.btn.btn-warning.btn-lg{ type: 'submit', 'ng-click' => 'handleStartButton()' } Empezar!

  .container#scroll-div
    .row.mt.centered
      .col-lg-12
        %hr
        %h1
          Calcula tu viaje compartido y ahorra dinero
        %h3
          Ingresa el origen en el mapa, seguido de los destinos. Luego presiona enviar y MePaseaste.UY calculará la mejor
          distribución de pasajeros y taxis con algoritmos de inteligencia computacional para que ahorres en tu viaje.
        %hr
      .row.mt.centered
        %br
        %br

      .col-lg-12
        = render template: 'shared/_map'


        .send-data
          %a.big{ 'ng-click' => 'executeGA()' } Calcular
          %br
          .small Ten paciencia, la consulta puede demorar
          .switch
            %input{ id: 'rateType', name: 'switch_accurance', type: 'checkbox', checked: 'true', class: 'tarifa' }

      = render partial: 'markers'

  .hide
    = image_tag '/icon/start_marker.png'
    = image_tag '/icon/end_marker.png'