.px20-separator

.row
  .small-10.small-centered.columns
    .panel.radius
      %p.center
        %a{href: new_user_session_path}
          Registrate o Inicia Sesion
        para almacenar destinos usuales, acceder a nuevas funciones y mas!

.px10-separator

.row
  .large-8.columns

    = render template: 'shared/map'

  .large-4.columns
    = render template: 'shared/maptable'

.px100-separator

= render template: 'shared/android'




