.row
  .small-4.columns
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec fermentum ipsum vitae risus bibendum gravida.
      Quisque mollis nisl et lectus porttitor, eu consequat mi semper.
      Cras placerat dictum elit, quis mattis magna varius eu.
      Integer tristique imperdiet eleifend.
      Nam et dictum augue. In vel libero egestas justo accumsan ultricies.
      Donec et ipsum quis magna interdum aliquet.
      Nulla in lobortis lorem, eleifend consequat ligula.
      Duis eget egestas arcu. Fusce quis sodales felis.
      Nullam accumsan fermentum turpis quis fringilla.

  .small-8.columns
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec fermentum ipsum vitae risus bibendum gravida.
      Quisque mollis nisl et lectus porttitor, eu consequat mi semper.
      Cras placerat dictum elit, quis mattis magna varius eu.
      Integer tristique imperdiet eleifend.
      Nam et dictum augue. In vel libero egestas justo accumsan ultricies.
      Donec et ipsum quis magna interdum aliquet.
      Nulla in lobortis lorem, eleifend consequat ligula.
      Duis eget egestas arcu. Fusce quis sodales felis.
      Nullam accumsan fermentum turpis quis fringilla.

.px100-separator

.row
  .full-grey-line

.px50-separator

.row
  .small-4.columns.not-visible-line
  .small-4.columns.blue-line
  .small-4.columns.not-visible-line

.row
  .small-12.columns
    .px10-separator
    %h1
      .center.blue-text
        Proximamente..
        %br
        MePaseaste.UY para telefonos Android
    .px10-separator

.row
  .small-4.columns.not-visible-line
  .small-4.columns.blue-line
  .small-4.columns.not-visible-line


.px50-separator

.row
  .small-8.columns.center
    %h3
      Apuntate ya mismo a la lista de espera para descargar la aplicacion gratis
    .px20-separator
    .row
      .small-4.columns
        A
      .small-4.columns
        = image_tag 'home/circulo.jpg'
      .small-4.columns
        A
    %p
      %h3.blue-text.bold
        12356
        %br
        Personas han reservado
        %br
          MePaseaste.UY

  .small-4.columns.center
    = image_tag 'home/phone.png'

.px80-separator

.row
  .full-grey-line

.px20-separator

.row
  .small-2.columns
    = image_tag 'home/logobn_full.png'


.px20-separator
