.row
  .large-8.columns
    %p
      MAPA
      Donec fermentum ipsum vitae risus bibendum gravida.
      Quisque mollis nisl et lectus porttitor, eu consequat mi semper.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Integer tristique imperdiet eleifend.
      Cras placerat dictum elit, quis mattis magna varius eu.
      Nam et dictum augue. In vel libero egestas justo accumsan ultricies.
      Donec et ipsum quis magna interdum aliquet.
      Nulla in lobortis lorem, eleifend consequat ligula.
      Duis eget egestas arcu. Fusce quis sodales felis.
      Nullam accumsan fermentum turpis quis fringilla.

  .large-4.columns
    %p
      TABLA
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec fermentum ipsum vitae risus bibendum gravida.
      Quisque mollis nisl et lectus porttitor, eu consequat mi semper.
      Cras placerat dictum elit, quis mattis magna varius eu.
      Integer tristique imperdiet eleifend.
      Nam et dictum augue. In vel libero egestas justo accumsan ultricies.
      Donec et ipsum quis magna interdum aliquet.
      Nulla in lobortis lorem, eleifend consequat ligula.
      Duis eget egestas arcu. Fusce quis sodales felis.
      Nullam accumsan fermentum turpis quis fringilla.

.px100-separator

= render template: 'shared/android'





