#headerwrap
  .container
    .row
      .col-lg-6
        %h1 Los viajes compartidos en taxis nunca fueron tan fáciles.
        %form.form-inline{ role: 'form' }
          .form-group
          %button.btn.btn-warning.btn-lg{ type: 'submit' } Empezar!
      .col-lg-6
        %img.img-responsive{ alt: '', src: asset_path('home/ipad-hand.png') }

.container
  .row.mt.centered
    .col-lg-12
      %hr
      %h3
        Ingresa el origen en el mapa, seguido de los destinos. Luego presiona enviar y MePaseaste.UY calculará la mejor
        distribución de pasajeros y taxis, de modo de minimizar el gasto total.
      %hr

    .col-lg-12
      = render template: 'shared/_map'

      %p
      .switch
        %input{id: 'tarifa_diurna', name: 'switch_accurance', type: 'radio', checked: 'true'}
        %label{for: 'tarifa_diurna', onclick: ''}
          Tarifa Diurna
        %input{id: 'tarifa_nocturna', name: 'switch_accurance', type: 'radio'}
        %label{for: 'tarifa_nocturna', onclick: ''}
          Tarifa Nocturna
        %span

      %a{ onclick: 'sendData();' }
        .send-data
          .big Calcular
          .small Ten paciencia, la consulta puede demorar
.container
  %hr
  .row.centered
    .col-lg-6.col-lg-offset-3
      %form.form-inline{ role: 'form' }
        .form-group
          %input#exampleInputEmail1.form-control{ placeholder: 'Ingresa tu dirección de correo', type: 'email' }
        %button.btn.btn-warning.btn-lg{ type: 'submit' } Suscríbeme a las novedades
    .col-lg-3
  %hr

.hide
  = image_tag '/icon/start_marker.png'
  = image_tag '/icon/end_marker.png'