.px100-separator

.row
  .small-8.small-centered.columns
    .working.green.panel.radius
      Estamos trabajando en esta nueva sección. Mantente atento y pronto podrás disfrutar de todas las novedades que MePaseaste.UY tiene para vos!
