.barra_superior-azul
.barra_superior
  .row
    .small-12.columns.right-centered-text
      %a{href: contacto_path}
        .text-sup
          Contacto
      &nbsp &nbsp &nbsp
      %a{href: about_path}
        .text-sup
          Acerca De
      &nbsp &nbsp &nbsp
      .img-sup
        = image_tag 'home/logo_grande.png', size: '30x30'


.row
  .small-12.columns.free-space

.row
  .large-4.columns
    %a{href: root_path}
      = image_tag 'home/logo.png'

.px20-separator

.row
  .full-grey-line