.row
  .large-5.large-offset-7.columns.login-box
    %form
      .row.collapse
        .small-7.columns
          %input{type: 'text'}
        .small-5.columns
          %span.postfix.radius
            Usuario
      .row.collapse
        .small-7.columns
          %input{type: 'text'}
        .small-5.columns
          %span.postfix.radius
            Contrasena
