<!--Modal de destinos usuales-->
<div id="modalCompartir" class="reveal-modal" data-reveal>
  <h1>
    Comparte esta consulta
  </h1>

  <p>Copia el siguiente enlace y compártelo con tus amigos. Recuerda que puedes revertir estos cambios cuando desees desde tu perfil.</p>
  <div class="row">
    <div class="small-12 small-centered center-text">
      <div class="panel full-radius">
        <pre><%= request.url %></pre>
      </div>

    </div>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>