.row
  .large-12.columns
    .panel.radius
      .row
        .small-4.columns
          .panel.radius
            %p Para esta consulta, se ha seleccionado la tarifa #{ @query.tipo_tarifa }.
        .small-4.columns
          .panel.radius
            %p Se han contemplado #{ @query.cantidad_marcadores - 1 } destinos, partiendo de 1 origen.
        .small-4.columns
          .panel.radius
            %p La consulta fue realizada en la fecha #{ @query.created_at.to_s }.