.row
  .large-12.columns
    .panel.radius
      %li
        %p Ha seleccionado la tarifa #{ @query.tipo_tarifa }.
      %li
        %p Además, los cálculos se hicieron en base a #{ @query.cantidad_marcadores } marcadores.
      %li
        %p Finalmente, la consulta fue realizada en la fecha #{ @query.created_at.to_s }.
      %br

      .full-grey-line

      %br
      %br
      .row
        .large-4.large-offset-4.columns
          #buttonForModal.panel.radius.center.grey-background
            %div
            'Compartir'
