.row
  .large-12.columns
    .panel.radius
      %h3
        Informaci칩n general:
      %br

      %li
        %p Ha seleccionado la tarifa #{ @query.tipo_tarifa }.
      %li
        %p Adem치s, los c치lculos se hicieron en base a #{ @query.cantidad_marcadores } marcadores.
      %li
        %p Finalmente, la consulta fue realizada en la fecha #{ @query.created_at.to_s }.
      %br

      .full-grey-line

      %br
      %br
      .row
        .large-4.large-offset-4.columns
          #buttonForModal.panel.radius.center.grey-background
            %div
            'Compartir'

:javascript
  $(document).ready(function() {
      $("#buttonForModal").click(function() {
        $("#confirmacion").reveal();
      });
    });


- # Modal para confirmaci칩n del share
#confirmacion.reveal-modal
  Lo tengo!
  .close-reveal-modal
    Aceptar
