.px20-separator

.row
  .large-12.center
    %h1
      Copia en enlace a continuación y compártelo con tus amigos!
  .large-6.large-offset-3.columns
    .panel.center
      %pre
        = root_url + '/show_data?query_id=' + @query.id.to_s
