.row
  .large-12.columns
    .panel.radius
      .center-text
        Puedes compartir con tus amigos la consulta.. (Completar)

      %br
      .row
        .large-4.large-offset-4.columns
          #buttonForModal.panel.radius.center.grey-background
            %div
            'Compartir'
