.row
  .large-12.columns
    .panel.radius
      %h3
        Formación de taxis:
      %br

      %h3
        #costo_total
          %li El costo total del viaje es de $
      %br

      %h3
        %li Taxis formados:
        #formacion_taxis

          - # Esto corresponde con un taxi
          %br
          %br
          .panel.yellow-background
            .taxi
              .imagen-taxi
              .texto-taxi Este taxi es estático y es de prueba.
          - if @query.solution
            - @query.solution.each do |taxi|
              %br
              %br
              .panel.yellow-background
                .taxi
                  .imagen-taxi
                  .texto-taxi Este taxi es dinámico desde la base SQL.


