.row
  .large-12.columns
    .panel.radius
      %h3
        Formación de taxis:
      %br

      %h3
        #costo_total
          - if @query.solution.nil?
            %li El costo total del viaje es de $
          - else
            %li #{ 'El costo total del viaje es de $' + @query.costo_total.to_s }

      %br

      %h3
        %li Taxis formados:
        #formacion_taxis

          - # Esto corresponde con un taxi
          %br
          %br
          .panel.yellow-background
            .taxi
              %a
                .imagen-taxi{ onclick: 'calcRoute(1)' }
              .texto-taxi Este taxi es estático y es de prueba.


          - if @query.solution
            - @query.solution.each do |taxi|
              %br
              %br
              .panel.yellow-background
                .taxi
                  .imagen-taxi
                  .texto-taxi
                    - taxi.each do |ubicacion|
                      .row
                        .small-3.columns
                          = ubicacion
          - else
            Calculando.. Por favor espere.


- # Si la solución proviene de la base, creamos la estructura javascript de los taxis
- if @query.solution
  - @query.solution.each do |taxi|
    :javascript
       t = new Array();
    - taxi.each do |pasajero|
      :javascript
        t.push(#{ pasajero });
    :javascript
      taxis.push(t)

