.box.box-solid.bg-yellow-gradient
  .box-header
    %i.fa.fa-map-marker
    %h3.box-title
      Tarifa diurna
  .box-body
    .text-center
      %h3 Costo de la bandera diurna
      %h1= "$#{BANDERA_DIURNA}"
      %h3 Costo de los 100 metros diurnos
      %h1= "$#{CIEN_METROS_DIURNO}"
