.row
  .small-12.columns
    .panel.radius
      = render partial: 'shared/map'

= javascript_include_tag 'favourite_locations'

:javascript
  $(function(){
    FavouriteLocations.init(false);
    FavouriteLocations.addMarker(#{@favourite_location.latitude}, #{@favourite_location.longitude});
  })