<div class="px50-separator"></div>

<div class="row">
  <div class="small-2 small-offset-5">
    <img src="img/malva_icon.png">
  </div>
</div>

<div class="row">
  <div class="separator"></div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="about-text">
      La computación evolutiva es una rama de la inteligencia artificial que involucra problemas de optimización
      combinatoria.
      Se inspira en los mecanismos de la Evolución biológica.
    </div>
  </div>
</div>

<div class="row">
  <div class="separator"></div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="about-text">
      Durante los años 50 se comenzó a aplicar los principios de Charles Darwin en la resolución de problemas. Durante
      los años 60 y 70, varias corrientes de investigación independientes comenzaron a formar lo que ahora se conoce
      como computación evolutiva:
      <li>Programación evolutiva</li>
      <li>Estrategias Evolutivas</li>
      <li>Algoritmos genéticos</li>
    </div>
  </div>
</div>

<div class="row">
  <div class="separator"></div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="about-text">
      La programación evolutiva nació en la década de 1960 y su creador fue Lawrence J. Fogel.
      <br />
      Este desarrollo comenzó como un esfuerzo encaminado a crear inteligencia artificial basado en la evolución de
      máquinas de estado finitas.
    </div>
  </div>
</div>

<div class="row">
  <div class="separator"></div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="about-text">
      Las estrategias evolutivas fueron propuestas por Ingo Rechenberg y Hans-Paul Schwefel en la década de 1970.
      Su principal objetivo era el de optimizar de parámetros.
      Los algoritmos genéticos fueron propuestos por John H. Holland en 1975 y su motivación inicial fue la de
      proponer un modelo general de proceso adaptable.
    </div>
  </div>
</div>

<div class="row">
  <div class="separator"></div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="about-text">
      De manera general la computación evolutiva toma como base las ideas de la evolución propuestas por Charles Darwin
      y en los descubrimientos realizados por Gregor Mendel en el campo de la genética. Podemos apreciar el pseudocódigo
      a la derecha.
    </div>
  </div>
</div>

<div class="row">
  <div class="separator"></div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="about-text">
        Pseudocódigo de un Algoritmo Evolutivo:
    </div>
    <div class="row">
      <div class="small-6 small-offset-3">
        <div class="panel">
    <pre class="text-left">
t:= 0
Inicialización P(t)
Evaluación P(t)
Hacer
P'(t):= variación[P(t)]
Evaluación[P'(t)]
P(t+1):= selección[P'(t) U Q]
t:= t+1
    </pre>
        </div>
      </div>
    </div>
  </div>
</div>