<div class="px50-separator"></div>

<div class="row">
  <div class="large-9 columns">
    <div class="about-text">
      MePaseasteUY surge ante la búsqueda de una solución simple, para una necesidad de la comunidad.
      Muchas veces, te encuentras con un grupo de amigos en un mismo lugar, y desean compartir taxis hacia sus respectivas
      casas. Entonces, quién se va con quién a modo de ahorrar dinero y pagar menos?
    </div>
  </div>
  <div class="large-3 columns center-text">
    <img src="img/about/sec1.png">
  </div>
</div>

<div class="row">
  <div class="separator"></div>
</div>

<div class="row">
  <div class="large-3 columns center-text">
    <img src="img/about/sec2.png">
  </div>
  <div class="large-9 columns">
    <div class="about-text">
      MePaseasteUY es un emprendimiento originado en la Facultad de Ingenería de la Universidad de la República,
      que utiliza conceptos de computación genética para llegar a una solución óptima al problema en un tiempo razonable.
      Estas técnicas son de mucha utilidad en problemas de esta índole, con alta complejidad computacional.
    </div>
  </div>
</div>

<div class="row">
  <div class="separator"></div>
</div>

<div class="row">
  <div class="large-9 columns">
    <div class="about-text">
      El algoritmo detrás del motor de MePaseasteUY, está basado en el framework de código abierto
      <a href="https://themalvaproject.github.io">Malva</a>. Si te interesa aprender y colaborar en un proyecto de
      código abierto para la inteligencia computacional, puedes clonar el repositorio y realizar "pull requests".
    </div>
  </div>
  <div class="large-3 columns center-text">
    <img src="img/about/sec3.png">
  </div>
</div>

<div class="row">
  <div class="separator"></div>
</div>

<div class="row">
  <div class="large-3 columns center-text">
    <img src="img/about/sec4.png">
  </div>
  <div class="large-9 columns">
    <div class="about-text">
      MePaseasteUY está en continuo desarrollo. Si encuentras bugs, o detalles que pueden mejorar la experiencia de usuario,
      puedes enviarnos un <a href="mailto:gabriel.fa07@gmail.com">correo</a>. Estaremos muy agradecidos!
    </div>
  </div>
</div>

<div class="row">
  <div class="separator"></div>
</div>

<div class="row">
  <div class="large-9 columns">
    <div class="about-text">
      También puedes seguirnos en <a href="http://twitter.com/MePaseasteUY">Twitter</a> o en <a href="http://facebook.com/MePaseasteUY">Facebook</a>
      para estar al tanto de las últimas novedades!
    </div>
  </div>
  <div class="large-3 columns center-text">
    <img src="img/about/sec5.png">
  </div>
</div>