.row
  .small-8.small-centered.columns.center
    %h3
      Tienes alguna sugerencia o mejora que te gustaria ver en MePaseaste.UY?
      %br
      Ponte en contacto con nosotros y nos comunicaremos contigo a la brevedad.
      %br
      Gracias!

    .px80-separator

    %form
      .row
        .large-12.columns
          %input{type: 'text', placeholder: 'Escribe aqui tu email'}
          .row
            .small-3.large-2.columns
              %span.prefix
                http://
            .small-9.large-10.columns
              %input{type: 'text', placeholder: 'Escribe aqui tu sitio web'}
          %input{type: 'text', placeholder: 'Escribe aqui el motivo de tu consulta'}
          .px50-separator
          %textarea{placeholder: 'Escribe aqui el cuerpo'}
