$blue: #12406f
$grey: #a9a9a9


// *******************************************
// CONTENT
// *******************************************

.android-phone-div
  height: auto

.grey
  background: #CCC
  height: 3px

.not-visible-line
  height: 3px

.blue-line
  height: 3px
  background: $blue

.full-grey-line
  height: 1px
  background: $grey

// *******************************************

// *******************************************
// CONTENT
// *******************************************
.map
  height: 500px
// *******************************************
