#outPopUp_origen.hide
#inPopUp_origen.hide
  .innerTextPopUp_origen
    %p
      Ingrese un nombre para el origen:
    %input{id: 'nombre_marcador_origen', name: 'nombre_marcador_origen', type: 'text', value: '', class: 'input-type-text', size: '80'}

    %br
    .botones_pop_up
      .right
        .button{onclick: 'agregarNombre()'}
          Aceptar
      .left
        .button{onclick: 'eliminarUltimoMarcador()'}
          Cancelar
